# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.MLUNITY2.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\GameEngines\Unity\MLUNITY2\.idea\.idea.MLUNITY2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
